flask==2.0.1
firebase-admin==5.0.3
flask-cors==3.0.10
gunicorn==20.1.0
python-dotenv==0.19.0
Werkzeug==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
itsdangerous==2.0.1
click==8.0.1
pytz==2021.1
requests==2.26.0
urllib3==1.26.6
certifi==2021.5.30
charset-normalizer==2.0.4
idna==3.2
six==1.16.0
cachecontrol==0.12.6
msgpack==1.0.2
google-api-core==2.0.1
google-api-python-client==2.19.1
google-auth==2.0.2
google-auth-httplib2==0.1.0
google-cloud-core==2.0.0
google-cloud-firestore==2.3.1
google-cloud-storage==1.42.0
google-crc32c==1.1.2
google-resumable-media==2.0.0
googleapis-common-protos==1.53.0
grpcio==1.39.0
httplib2==0.19.1
proto-plus==1.19.0
protobuf==3.17.3
pyparsing==2.4.7
rsa==4.7.2
